<footer>
  <div class="container">
    <ul class="footer-links">
    <li><a  href="https://github.com/Kunzeu"  target="_blank"><i class="bi bi-github"></i><i class="fas fa-home"></i> GitHub</a></li>
     <li><a href="https://www.linkedin.com/in/jhon13/"  target="_blank"><i class="bi bi-linkedin"></i></i> Linkedin</a></li>
     <li><a href="mailto:johnfmedrano@gmail.com"><i class="bi bi-envelope-fill"></i> Correo</a></li>
    </ul>
    <div class="footer-info">
      <p>&copy; 2023 Jhon Fajardo. All Rights Reserved.</p>
    </div>
  </div>
</footer>