{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="row bg-black">
    <div class="col-md-4">
<img src="{% static 'portafolio/Profile.jpg' %}" alt="">
    </div>

    <div class="col-md-8 my-auto">
        <h1>I'm <strong>Jhon Edgar Fajardo Medrano</strong></h1>
        <h3>I'm a BackEnd Developer</h3>
        <p>I am passionate about programming and I am looking for an opportunity to develop professionally in this field. I have acquired skills in problem solving, fast learning and keeping up with the latest technologies. I am improving my technical skills, building a portfolio and participating in programming communities. In addition, I am looking for job opportunities and preparing for interviews. I am committed to continue to cultivate my passion for programming and apply my skills on the job.</p>
        <a href="{% static 'portafolio/English CV.pdf' %}" class=" btn btn-primary btn-sm">Download CV EN</a>
        <a href="{% static 'portafolio/Español CV.pdf' %}" class="btn btn-primary btn-sm">DESCARGAR CV ESP</a>
    </div>
</header>



<div class="row my-4 text-center">

    <h3>My Projects</h3>
    <p>Welcome to my project portfolio! Here you will find a compilation of all the projects to which I have dedicated time and effort. Each of these projects represents my passion for creativity, problem solving and constant learning. Through them, I have had the opportunity to explore different technologies, develop skills and face exciting challenges. Each project is a reflection of my dedication and commitment to deliver quality results. I invite you to explore and discover more about my projects and my career as a developer!.</p>

{% for project in projects%}

<div class="col-md-4 p-4">
    <div class="card bg-black card-project">
        <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top">
        <div class="card-body">
           
        <h2>{{project.title}}</h2>
        <p>{{project.descripcion}}</p>
        
        {% if project.urls %}
        <a href="{{project.urls}}" class="btn btn-light rounded-0 btn-sm" target="_blank">{{project.urls}}</a>

        {% endif %}

        </div>
    </div>
</div>

  

{% endfor %}
{% include 'footer.html' %}

{% endblock %}

</div>
