{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
      <a class="navbar-brand fw-bold fst-italic" href="/">JF</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'blog:posts' %}">Blog</a>
          </li>
          <li class="nav-item dropdown  d-flex align-items-center">
            <a class="btn btn-primary btn-sm dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Download CV's
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% static 'portafolio/English CV.pdf' %}"  target="_blank">Download CV EN</a>
                <li><hr class="dropdown-divider"></li>
                <li><a href="{% static 'portafolio/Español CV.pdf' %}"  target="_blank">Descargar CV ESP</a>
                </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>